$top-color: #5a9f68;
$add-color: #c0e830; //#28a745
$remove-color: #dc3545;
$active-back: #f5f5f5;

$add-color-hover: lighten($add-color, 10%);
$remove-color-hover: lighten($remove-color, 10%);

//$active: ".active";