@import "../styles/colors";

.host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  flex-grow: 1;

  &.active {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid $add-color;
  }

  &:not(.active) {
    color: $top-color;
  }

  &:hover:not(.active) {
    border-bottom: 2px solid $active-back;
  }

  &:hover {
    background-color: $active-back;
  }

  button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    color: inherit;
    font-weight: inherit;
  }

}

