.host {
  display: flex;
  align-items: center;
  margin-left: 1em;
  margin-right: 0.3em;
}

.image {
  display: block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-size: contain;
  margin-right: 0.5em;
}

.user {
  font-weight: bold;
}
