@import "common";
@import "cols";
@import "select";

.pollItem {
  display: block;
  padding: 1em 2em;
}

$i2: 0;
@each $background, $title, $operator in $colors {
  $i2: $i2 + 1;
  .pollItem.type-#{$i2}:before {
    background-color: $operator;
  }
}


.pollItem {
  &:not(:first-of-type):before {
    display: block;
    position: absolute;
    content: 'и';
    transform: translateY(-2.3em);
    border-radius: 0.2em;
    padding: 0.5em 1em;
    font-size: 0.8rem;
  }
}


// ==============

.body {
  margin: 0.8em 0;
}

.title {

}

// ===============

.flex {
  display: flex;
}

.flexBetween {
  justify-content: space-between;
}
