.host {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;

  section {
    text-align: center;
    padding: 1em;
    border-radius: 0.5em;
    background-color: white;
    max-width: 500px;
  }

  article {
    margin-bottom: 1em;
  }

  p {
    color: silver;
  }
}