@import "../styles/colors";

.host {
  display: block;
  flex-grow: 1;
  margin-left: 1.5em;
  margin-right: .5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.tab_view {
  border-top: 1px solid $add-color;
  box-shadow: 0 0.5em 0.5em silver;
}

.tab_buttons {
  display: flex;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}