@import "../styles/colors";

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  min-height: 600px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 1em;
  padding-bottom: 1em;
}

.help_button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  border: 1px solid black;
  color: $add-color;
  transition-duration: 0.2s;

  &:hover {
    box-shadow: 0 0 0.5em silver;
    color: $top-color;
    border-color: silver;
  }
}

.logo {
  width: 2.5em;
  height: 2.5em;
  background-color: #dc3545;
  border-radius: 50%;
}