@import "styles/colors";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  &:focus {
    outline: 0 none;
  }
}

input {
  padding: 0.7em;
  border: 1px solid #eee;
  border-radius: 0.5em;

  transition-duration: 0.3s;
  transition-property: color, border-color;

  &:focus {
    border-color: $top-color;
    outline: 0 none;
  }
}